.footer {
  background-color: #f7f7f7;
  height: 248px;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 120px;
}

.text p {
  font-size: 12px;
  line-height: 16px;
}

.text b {
  color: #d59490;
}
