.intro {
  padding-left: 140px;
  padding-top: 32px;
  height: 560px;
  background: #f7f7f7;
}

.paragraph {
  padding-top: 56px;
  max-width: 50ch;
}

.links {
  display: flex;
  gap: 20px;
  padding-top: 32px;
}
