.intro {
  padding-left: 140px;
  padding-top: 32px;
  height: 560px;
  background: #f7f7f7;
}

.paragraph {
  padding-top: 56px;
  max-width: 50ch;
}

.links {
  display: flex;
  gap: 20px;
  padding-top: 32px;
}

.projects {
  height: 800px;
}

.title {
  padding-top: 149px;
}

h3 {
  position: relative;
}

h3::before {
  content: '';
  width: 960px;
  height: 1px;
  display: block;
  position: absolute;
  background-color: #707070;
  top: 15px;
}
