.background {
  height: 600px;
  background: #f7f7f7;
}

.section {
  padding-left: 94px;
  padding-top: 32px;
}

.paragraph {
  padding-top: 56px;
  max-width: 50ch;
}

.links {
  display: flex;
  gap: 20px;
  padding-top: 32px;
  align-items: center;
}
