.sectionProject {
  position: relative;
}

.sectionProject::before {
  content: '';
  height: 94px;
  width: 100%;
  background-color: #f7f7f7;
  display: block;
  position: absolute;
  z-index: -1;
}

.projects {
  padding-left: 94px;
}

.title {
  padding-top: 60px;
  padding-bottom: 62px;
}

h3 {
  position: relative;
}

h3::before {
  content: '';
  width: 880px;
  height: 1px;
  display: block;
  position: absolute;
  background-color: #707070;
  top: 15px;
  margin-top: 2px;
}

.archImages {
  display: flex;
  max-width: 860px;
  gap: 24px;
  margin-top: 100px;
  margin-bottom: 100px;
  justify-content: center;
}

.archImages img {
  height: 392px;
  width: 185px;
}

.devImages {
  display: flex;
  max-width: 860px;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.devImages img {
  height: 210px;
  width: 373px;
}
